.wy-nav-side p.caption {
  color: #EEAF94;
}

.wy-nav-side a {
  color: #D6D6D6;
}

.wy-menu-vertical a:hover {
  color: #BF3B46;
}

div.wy-side-nav-search {
  background: #ffffff;
}

div.wy-side-nav-search a{
  color: gray;
}

div.wy-side-nay {
  background: #413F3F;
}

table.field-list td li {
  line-height: 18px;
}

table.docutils td p {
  font-size: 14px !important;
  margin-bottom: 6px;

}

table.docutils td li {
  line-height: 18px;

}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }
    .wy-table-responsive {
        overflow: visible !important;
    }
}

/* .wy-nav-content { */
   /* max-width: none; */
/* } */

section {
    text-align: justify;
}

/* Move copyright to top */
footer .copyright {
    display: none;
}

/* Language switcher at top */
.language-switcher {
    background-color: #fcfcfc;
    border-bottom: 1px solid #e1e4e5;
    padding: 10px 20px;
    font-size: 90%;
    text-align: right;
}

.language-switcher a {
    color: #2980b9;
    text-decoration: none;
}

.language-switcher a:hover {
    color: #3091d1;
    text-decoration: underline;
}
